<!DOCTYPE html>
<html ng-app="resumev2">

  <head>
    <title>Nate Harris Resume</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link rel="stylesheet" href="app.css" />
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/requirejs/require.js"></script>
    <script src="bower_components/angular-1.5.5/angular.min.js"></script>
    <script src="config.js"></script>
    <script src="controller.js"></script>

  </head>

  <body>
      <div ng-controller="ResumeController as ctrl">
        <div class="wrapper row">
          <div class="left-col col-xs-4">
            <div class="name-info">
              <img ng-src="{{ctrl.config.resumeImageSrc}}" class="circle-img" />
              <h2 class="name-header">{{ctrl.config.resumeOwner}}</h2>
              <h4>{{ctrl.config.occupation}}</h4>
              <h4>{{ctrl.config.location}}</h4>
            </div>
            <div class="sub-info">
              <div class="sub-section education">
                <i class="large-icon fa fa-2x fa-graduation-cap" aria-hidden="true"></i>
                <h2 class="sub-info-heading">Education</h2>
                <img ng-src="{{ctrl.config.education.schoolLogo}}" class="circle-img" />
                <strong>{{ctrl.config.education.schoolName}}</strong>
                <p>{{ctrl.config.education.fieldOfStudyInfo}}</p>
              </div>
              <div class="sub-section more-info references">
                <i class="large-icon fa fa-2x fa-info-circle" aria-hidden="true"></i>
                <h2 class="sub-info-heading">More Info</h2>
                <ul>
                  <li ng-repeat="info in ctrl.config.moreInfo"><i class="more-info-icon fa fa-2x {{info.icon}}"></i> <a ng-href="{{info.link}}">{{info.linkName}}</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="right-col col-xs-8">
            <div class="work-experience right-col-section">
              <div ng-repeat="experience in ctrl.config.experiences" class="row work-desc">
                <div class="col-xs-4">
                  <img ng-src="{{experience.companyImage}}" />
                  <strong>{{experience.companyName}}</strong>
                  <p>{{experience.position}}</p>
                  <p>{{experience.timeAtCompany}}</p>
                  <div class="tags">
                    <span class="tech-tag" ng-repeat="tech in experience.techUsed">{{tech}}</span>
                  </div>
                </div>
                <div class="col-xs-8 accomplishments">
                  <ul class="dashed">
                    <li ng-repeat="accomplishment in experience.accomplishments">{{accomplishment}}</li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>